<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>G2babies - Article</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="header"></div>
    <div id="particles-js"></div>
    <div class="about-us"></div>
    <div class="footer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".header").load("header.html");
        $(".about-us").load("about-us.html");
        $(".footer").load("footer.html");
      });
    </script>
  </body>
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <!-- partial -->
  <script src="./particles.js"></script>
</html>
