<!DOCTYPE html>

<article>
  <div class="px-8 pt-5 pb-3 bg-white">
    <div class="text-sm text-gray-400">
      <a href=".">Homepage</a> / <a href="#">About us</a>
    </div>
  </div>
  <div class="contenedor-head">
    <div class="centro titulo-article">Our Careers</div>
    <div class="centro subtitulo-article">Be one of us</div>
    <div></div>
  </div>
  <div class="contenedor-cards">
    <!-- 1. Gragas -->
    <div class="article-card">
      <div class="contenedor-texto-card">
        <div class="texto-card-titulo">Lol Professional Player</div>
        <div class="texto-card-subtitulo">LF Gragas Main # No drinking</div>
        <div class="texto-card-cuerpo">
          Equal parts jolly and imposing, Gragas is a massive, rowdy brewmaster
          on his own quest for the perfect pint of ale. Hailing from parts
          unknown, he now searches for rare ingredients among the unblemished
          wastes of the Freljord, trying each recipe as he goes.
        </div>
      </div>
      <div class="contenedor-texto-imagen">
        <img src="./Images/Careers/gragas.gif" alt="Lol Professional Player GIF" />
      </div>
    </div>

    <!-- 2. Sopa miso -->
    <div class="article-card-inverted">
      <div class="contenedor-texto-card">
        <div class="texto-card-titulo">Miso Soup Catador</div>
        <div class="texto-card-subtitulo">Boniatos al curry uwu</div>
        <div class="texto-card-cuerpo">
          Me gustan the noodles. Especialmente el código espagueti que se viene
          pronto ;)
        </div>
      </div>
      <div class="contenedor-texto-imagen">
        <img src="./Images/Careers/Arroz.png" alt="Spaghetti Image" />
      </div>
    </div>
    <!-- 4. Ale -->
    <div class="article-card">
      <!-- contenedor texto -->
      <div class="contenedor-texto-card">
        <div class="texto-card-titulo">SHAE-123 Cipher</div>
        <div class="texto-card-subtitulo">????????????</div>
        <div class="texto-card-cuerpo">
          !!!?!¿·@@2e4d~~~~191203’¿¿...----xxxx___a19249100x’eee¡¿???¡~~~##11||!!9x0//-__´´çç`++
        </div>
      </div>
      <div class="contenedor-texto-imagen">
        <img src="./Images/Careers/ensamblador.png" alt="Assembler Image" />
      </div>
    </div>
    <!-- 5. Alexandru -->
    <div class="article-card-inverted">
      <div class="contenedor-texto-card">
        <div class="texto-card-titulo">Internet Creeper</div>
        <div class="texto-card-subtitulo">Average minecraft youtuber</div>
        <div class="texto-card-cuerpo">Texto de ejemplo</div>
      </div>
      <div class="contenedor-texto-imagen justify-center">
        <img src="./Images/Careers/Creeper.png" alt="Minecraft Creeper Image" />
      </div>
    </div>
  </div>
</article>
