<div class="justify-around flex flex-row pt-20 fondo-blanco">
  <div class="w-1/5 h-auto">
    <span class="font-bold">Get in touch</span>
    <div id="links" class="flex flex-col justify-center">
      <a href="article.html" class="text-indigo-600 mt-1.5">About Us</a>
      <a href="#" class="text-indigo-600 mt-2">Careers</a>
    </div>
  </div>
  <div class="w-1/5 h-auto">
    <span class="font-bold">Connections</span>
    <div id="links" class="flex flex-col h-full">
      <a href="https://twitter.com/BabiesGtwo" class="text-indigo-600 mt-2"
        >Twitter</a
      >
      <a href="https://www.instagram.com/g2babies/" class="text-indigo-600 mt-2"
        >Instagram</a
      >
      <a
        href="https://www.youtube.com/channel/UCoEn7cXetkKXibm5d55tPbw"
        class="text-indigo-600 mt-2"
        >Youtube</a
      >
    </div>
  </div>
  <div class="w-1/5 h-auto">
    <span class="font-bold">Earnings</span>
    <div id="links" class="flex flex-col items-start">
      <a href="#" class="text-indigo-600 mt-1.5">Become an Affiliate</a>
      <a href="#" class="text-indigo-600 mt-2">Advertise your product</a>
      <a href="#" class="text-indigo-600 mt-2">Sell on Market</a>
    </div>
  </div>
  <div class="w-1/5 h-auto">
    <span class="font-bold">Account</span>
    <div id="links" class="flex flex-col items-start">
      <a href="#" class="text-indigo-600 mt-1.5">Your account</a>
      <a href="#" class="text-indigo-600 mt-2">Returns Centre</a>
      <a href="#" class="text-indigo-600 mt-2">100% purchase protection</a>
      <a href="#" class="text-indigo-600 mt-2">Contact us</a>
      <a href="#" class="text-indigo-600 mt-2">Help</a>
    </div>
  </div>
</div>
<footer class="pt-20 pl-10 pb-10 fondo-blanco">
  <p>Copyright © 2021 g2babies.com</p>
</footer>
