<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>G2babies - Home</title>
        <link href="styles/compiled/styles.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./scripts/scripts.js" defer></script>
    </head>

    <body class="dark:bg-gray-800 dark:text-gray-200">
        <div class="header"></div>

        <!-- Banners -->
        <div class="banners-panel">
            <a href="article-about-us.html" class="specific-banner">
                <div class="banners-innersquare">
                    <h4 class="banners-subfocus">Banner subfocus</h4>
                    <p class="banners-heading">Space for heading</p>
                    <button class="banners-showarticle">Show Article <span class="banner-showarticle-icon">></span></button>
                </div>
            </a>
            <a href="article-about-us.html" class="specific-banner">
                <div class="banners-innersquare">
                    <h4 class="banners-subfocus">Banner subfocus</h4>
                    <p class="banners-heading">Space for heading</p>
                    <button class="banners-showarticle">Show Article <span class="banner-showarticle-icon">></span></button>
                </div>
            </a>
        </div>

        <!-- Left "best selling products" area -->
        <div class="products-panel">
            <div class="bestselling-category-panel">
                <h1 class="bestselling-heading">Best selling products</h1>
                <div class="breaking-responsive-rows"><!--This class is used for breaking rows without affecting flexbox while in responsive view--></div>
                <a href="category.html" class="bestselling-link">Marvel Comics</a>
                <a href="category.html" class="bestselling-link">Anime and Manga</a>
                <a href="category.html" class="bestselling-link">Videogames</a>
                <a href="category.html" class="bestselling-link">DC Comics</a>
                <a href="category.html" class="bestselling-link">Disney</a>
            </div>

            <!-- Three products from best selling products -->
            <div class="bestselling-product-panel">
                <div class="bestselling-product-card">
                    <a href="product.html" class="bestselling-product">
                        <div class="bestselling-product-image-container">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="bestselling-product-image" width="240" height="240" alt="Product Image"> 
                        </div>
                        <div>
                            <h2 class="bestselling-product-title">Product title</h2>
                            <h4 class="bestselling-product-description">Space for a small product description</h4>
                        </div>
                        <div class="buy-panel">
                            <div class="cost-panel">
                                <p class="cost">1.48 EUR</p>
                                <p class="previous-cost" id="discount-prod-1"></p>
                            </div>
                            <button class="buynow-button">Buy now</button>
                        </div>
                    </a>

                    <a href="product.html" class="bestselling-product">
                        <div class="bestselling-product-image-container">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="bestselling-product-image" width="240" height="240" alt="Product Image"> 
                        </div>                        
                        <div>
                            <h2 class="bestselling-product-title">Product title</h2>
                            <h4 class="bestselling-product-description">Space for a small product description</h4>
                        </div>
                        <div class="buy-panel">
                            <div class="cost-panel">
                                <p class="cost">0.28 EUR</p>
                                <p class="previous-cost" id="discount-prod-2">48.56 EUR</p>
                            </div>
                            <button class="buynow-button">Buy now</button>
                        </div>
                        
                    </a>

                    <a href="product.html" class="bestselling-product">
                        <div class="bestselling-product-image-container">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="bestselling-product-image" width="240" height="240" alt="Product Image"> 
                        </div>                        
                        <div>
                            <h2 class="bestselling-product-title">Product title</h2>
                            <h4 class="bestselling-product-description">Space for a small product description</h4>
                        </div>
                        <div class="buy-panel">
                            <div class="cost-panel">
                                <p class="cost">1.12 EUR</p>
                                <p class="previous-cost" id="discount-prod-3">48.56 EUR</p>
                            </div>
                            <button class="buynow-button">Buy now</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Bottom links -->
        <div class="footer"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".header").load("header.html")
                $(".footer").load("footer.html")
            })
        </script>
    </body>
</html>