<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>G2babies - Product</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="header"></div>
        
        <div class="flex flex-row items-center mx-10 mt-5">
            <a href="/index.html" class="text-sm text-gray-300 mr-1">Homepage</a>
            <p class="text-sm text-gray-300 mr-1"> / </p>
            <a href="/category.html" class="text-sm text-gray-300 mr-1">Anime and Manga</a>
            <p class="text-sm text-gray-300 mr-1"> / </p>
            <a href="/product.html" class="text-sm">Figure from Two Piece</a>
        </div>
        
        <div class="mx-10 flex flex-row">
            <!-- Product images space -->
            <div class="flex flex-col mt-8">
                <div class="border-2 h-72 w-96 rounded-lg bg-gray-200">
                    <div class="flex flex-row items-center">
                        <div class="border-2 rounded-lg bg-gray-300 w-14 ml-4 mt-2">
                            <p class="text-blue-500 text-sm text-center">- 36 %</p>
                        </div>
                
                        <div class="border-2 rounded-lg bg-gray-300 w-28 ml-2 mt-2">
                            <p class="text-blue-500 text-sm text-center">Free shipping</p>
                        </div>
                    </div>
                </div>
                <div class="border-2 h-72 w-96 rounded-lg bg-gray-200 mt-8"></div>
                <div class="border-2 h-72 w-96 rounded-lg bg-gray-200 mt-8"></div>
            </div>

            <!-- Product details -->
            <div class="flex flex-col mt-8">
                <div class="ml-10">
                    <h1 class="font-bold">Anime and Manga</h1>
                    <p class="mt-10"><span class="italic">Figure from Two Piece</span> are one of the best on market.</p>

                    <div class="mt-4 grid grid-cols-2 gap-x-24 gap-y-4">
                        <p class="text-gray-300 text-sm">Category: <span class="text-black">Anime and Manga</span></p>
                        <p class="text-gray-300 text-sm">Quality: <span class="text-black">New</span></p>
                        <p class="text-gray-300 text-sm">Stock: <span class="text-blue-500">In Stock</span></p>
                        <p class="text-gray-300 text-sm">Delivery: <span class="text-black">in 2 days</span></p>
                        <p class="text-gray-300 text-sm">Company: <span class="text-black">Toei</span></p>
                        <p class="text-gray-300 text-sm">Delivery area: <span class="text-black">Spain</span></p>
                    </div>

                    <div class="py-4 h-auto border-2 border-opacity-20 rounded-lg mt-5 flex flex-row">
                        <p class="text-lg text-blue-600 font-bold ml-2 mr-5">36.23 USD</p>
                        <select class="border border-black border-opacity-30 rounded-lg bg-gray-200 text-sm text-center mx-auto">
                            <option>x1 Uds</option>
                            <option>x2 Uds</option>
                            <option>x3 Uds</option>
                            <option>x4 Uds</option>
                            <option>x5 Uds</option>
                            <option>x10 Uds</option>
                        </select>
                        <button class="bg-indigo-600 text-white text-center border border-black border-opacity-30 rounded-lg px-2 py-1 mr-4">+ Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="footer"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".header").load("header.html")
                $(".footer").load("footer.html")
            })
        </script>
    </body>
</html>