<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>G2babies - Product</title>
        <link href="styles/compiled/styles.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./scripts/scripts.js" defer></script>
    </head>
    <body class="dark:bg-gray-800 dark:text-gray-200" >
        <div class="header"></div>
        
        <!-- Breadcrumbs navigation -->
        <div class="breadcrumbs">
            <a href="index.html" class="breadcrumbs-text">Homepage</a>
            <p class="breadcrumbs-text"> / </p>
            <a href="category.html" class="breadcrumbs-text text-center">Anime and Manga</a>
            <p class="breadcrumbs-text"> / </p>
            <a href="product.html" class="text-sm text-center dark:text-white">Figure from Two Piece</a>
        </div>
        
        <div class="productdetails-panel">
            <!-- Product images space -->
            <div class="productdetails-panel-imagescolumn">
                <div class="productdetails-panel-imagescolumn-imagesquare">
                    <div class="flex flex-row items-center">
                        <div class="productdetails-panel-imagescolumn-imagesquare-round">
                            <p class="productdetails-panel-imagescolumn-imagesquare-round-text">- 36 %</p>
                        </div>
                
                        <div class="productdetails-panel-imagescolumn-imagesquare-round2">
                            <p class="productdetails-panel-imagescolumn-imagesquare-round-text">Free shipping</p>
                        </div>
                    </div>
                </div>
                <div class="productdetails-panel-imagescolumn-imagesquare mt-8"></div>
                <div class="productdetails-panel-imagescolumn-imagesquare mt-8"></div>
            </div>

            <!-- Product details -->
            <div class="productdetails-panel-productcolumn">
                <h1 class="productdetails-panel-productcolumn-head">Anime and Manga</h1>
                <p class="productdetails-panel-productcolumn-subhead"><span class="italic">Figure from Two Piece</span> are one of the best on market.</p>

                <div class="w-auto">
                    <div class="productdetails-panel-productcolumn-details">
                        <p class="productdetails-panel-productcolumn-details-row">Category:</p>
                        <p class="text-black text-center dark:text-white">Anime and Manga</p>
                        <p class="productdetails-panel-productcolumn-details-row">Quality:</p>
                        <p class="text-black dark:text-white">New</p>
                        <p class="productdetails-panel-productcolumn-details-row">Stock:</p>
                        <p class="text-blue-500">In Stock</p>
                        <p class="productdetails-panel-productcolumn-details-row">Delivery:</p>
                        <p class="text-black dark:text-white">in 2 days</p>
                        <p class="productdetails-panel-productcolumn-details-row">Company:</p>
                        <p class="text-black dark:text-white">Toei</p>
                        <p class="productdetails-panel-productcolumn-details-row">Delivery area:</p>
                        <p class="text-black dark:text-white">Spain</p>
                    </div>
    
                    <div class="productdetails-panel-productcolumn-buypanel">
                        <div class="flex flex-col ml-2">
                            <p class="productdetails-panel-productcolumn-buypanel-price">36.23 EUR</p>
                            <p class="productdetails-panel-productcolumn-buypanel-previusprice">48.56 EUR</p>
                        </div>
                        <div class="mx-0 sm:ml-auto dark:text-black">
                            <select class="productdetails-panel-productcolumn-buypanel-uds">
                                <option>x1 Uds</option>
                                <option>x2 Uds</option>
                                <option>x3 Uds</option>
                                <option>x4 Uds</option>
                                <option>x5 Uds</option>
                                <option>x10 Uds</option>
                            </select>
                        </div>
                        <button class="productdetails-panel-productcolumn-buypanel-buy">+ Add to cart</button>
                    </div>
                </div>
                    
                <div class="mt-8">
                    <svg class="inline cursor-pointer xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0H24V24H0z"/>
                        <path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z" fill="rgba(231,76,60,1)"/>
                    </svg>
                    <p class="inline font-bold cursor-pointer">Add to my wishlist</p>
                </div>

                <!-- Description -->
                <div class="mt-12">
                    <h2 class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Description</h2>
                    <div class="productdetails-panel-productcolumn-line"></div>
                    <p class="font-bold mb-2">Origins</p>
                    <p>We work hard to ensure that the figures we sell are high in quality. If we don't market
                       them the highest possible quality, we get treated as slaves. This one is from the marvelous
                       figures makers <span class="italic">Toei</span>. They have bring us a top tier figure from the 
                       manga <span class="italic">Two Piece</span>.
                    </p>
                    <p class="productdetails-panel-productcolumn-productspecification">Product's Specifications</p>
                    <div class="flex justify-center lg:justify-start">
                        <table>
                            <tr class="border-b-2">
                                <th class="productdetails-panel-productcolumn-columnrow">Column1</th>
                                <th class="productdetails-panel-productcolumn-columnrow">Column2</th>
                                <th class="productdetails-panel-productcolumn-columnrow2">Column3</th>
                            </tr>
                            <tr class="bg-gray-100 dark:text-black">
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr class="bg-gray-100 dark:text-black">
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr class="bg-gray-100 dark:text-black">
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                            <tr class="bg-gray-100 dark:text-black">
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow">Row</td>
                                <td class="productdetails-panel-productcolumn-columnrow2">Row</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Related products -->
        <div class="relatedproducts-panel">
            <div class="relatedproducts-panel-headpanel">
                <p class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Related products</p>

                <div class="cursor-pointer">
                    <p class="font-bold inline">More products</p>
                    <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M12.172 12L9.343 9.172l1.414-1.415L15 12l-4.243 4.243-1.414-1.415z" fill="rgba(107,28,252,1)"/>
                    </svg>
                </div>
            </div>

            <div class="relatedproducts-panel-cards-panel">
                <div class="relatedproducts-panel-cards-panel-cards">
                    <a href="product.html" class="relatedproducts-panel-cards-panel-cards-inner">
                        <div>
                            <div class="relatedproducts-panel-cards-panel-cards-inner-image-panel">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="relatedproducts-panel-cards-panel-cards-inner-image-panel-image" width="240" height="240" alt="Product Image"> 
                            </div>
                            <div>
                                <h2 class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Product title</h2>
                                <h4 class="relatedproducts-panel-cards-panel-cards-inner-productdescription">Space for a small product description</h4>
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col">
                                    <p class="font-bold text-xl">3.26 EUR</p>
                                    <p class="text-sm line-through text-gray-400" id="discount-prod-1"></p>
                                </div>
                                <button class="relatedproducts-panel-cards-panel-cards-inner-buy">Buy now</button>
                            </div>
                        </div>
                    </a>
                    <a href="product.html" class="relatedproducts-panel-cards-panel-cards-inner">
                        <div>
                            <div class="w-full flex flex-row justify-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="relatedproducts-panel-cards-panel-cards-inner-image-panel-image" width="240" height="240" alt="Product Image"> 
                            </div>                        
                            <div>
                                <h2 class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Product title</h2>
                                <h4 class="relatedproducts-panel-cards-panel-cards-inner-productdescription">Space for a small product description</h4>
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col">
                                    <p class="font-bold text-xl">1.48 EUR</p>
                                    <p class="text-sm line-through text-gray-400" id="discount-prod-2">48.56 EUR</p>
                                </div>
                                <button class="relatedproducts-panel-cards-panel-cards-inner-buy">Buy now</button>
                            </div>
                        </div>
                    </a>
                    <a href="product.html" class="relatedproducts-panel-cards-panel-cards-inner">
                        <div>
                            <div class="w-full flex flex-row justify-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="relatedproducts-panel-cards-panel-cards-inner-image-panel-image" width="240" height="240" alt="Product Image"> 
                            </div>                        
                            <div>
                                <h2 class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Product title</h2>
                                <h4 class="relatedproducts-panel-cards-panel-cards-inner-productdescription">Space for a small product description</h4>
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col">
                                    <p class="font-bold text-xl">12.99 EUR</p>
                                    <p class="text-sm line-through text-gray-400" id="discount-prod-3">48.56 EUR</p>
                                </div>
                                <button class="relatedproducts-panel-cards-panel-cards-inner-buy">Buy now</button>
                            </div>
                        </div>
                    </a>
                    <a href="product.html" class="relatedproducts-panel-cards-panel-cards-inner">
                        <div>
                            <div class="w-full flex flex-row justify-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Antu_insert-image.svg/512px-Antu_insert-image.svg.png" class="relatedproducts-panel-cards-panel-cards-inner-image-panel-image" width="240" height="240" alt="Product Image"> 
                            </div>
                            <div>
                                <h2 class="relatedproducts-panel-cards-panel-cards-inner-producttitle">Product title</h2>
                                <h4 class="relatedproducts-panel-cards-panel-cards-inner-productdescription">Space for a small product description</h4>
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col">
                                    <p class="font-bold text-xl">1.48 EUR</p>
                                    <p class="text-sm line-through text-gray-400" id="discount-prod-4"></p>
                                </div>
                                <button class="relatedproducts-panel-cards-panel-cards-inner-buy">Buy now</button>
                            </div>
                        </div>
                    </a>                    
                </div>
            </div>
            
        </div>
        <div class="footer"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".header").load("header.html")
                $(".footer").load("footer.html")
            })
        </script>
    </body>
</html>