@layer components {
    .nav-main {
        @apply flex flex-col items-center justify-center pt-5 px-10 flex-wrap text-xl;
    }

    /* Esta sintaxis diche que nav-content esta dentro de nav-main */
    .nav-content {
        @apply flex flex-row w-full pb-5 whitespace-nowrap;
    }

    .nav-main-element{
        @apply p-9;
    }

    .nav-search {
        @apply w-full flex flex-row justify-between flex-wrap border-t-2 border-gray-100;
    }

    .nav-search-box {
        @apply flex flex-row content-center justify-center relative;
    }

    .nav-search-input {
        @apply py-2 sm:w-80 w-60 bg-gray-200 text-center rounded-r-lg;
    }

    .nav-search-button {
        @apply bg-gray-200 rounded-l-lg pl-2.5;
    }

    .nav-element {
        @apply flex items-center px-4;
    }

    .nav-text {
        @apply pl-2 text-indigo-600;
    }

    .nav-image {
        @apply h-9;
    }

    .nav-category {
        @apply pb-3 w-full bg-gray-200 justify-around flex flex-row flex-wrap px-5 items-center;
    }

    .category-element {
        @apply flex flex-col items-center pt-3;
    }

    .nav-subcategory {
        @apply absolute mt-6 px-1 py-1 border-2 border-black rounded-lg flex flex-col bg-gray-300 items-center justify-center text-indigo-600;
    }

    .category-button {
        @apply flex flex-row mx-5 items-center;
    }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}