@layer components {
    .nav-main {
        @apply flex flex-col items-center justify-center flex-wrap text-xl;
    }

    #nav-content {
        @apply flex flex-row justify-center w-full py-5 px-10 whitespace-nowrap bg-white drop-shadow-md dark:bg-gray-900;
        position: fixed;
        top: 0;
    }

    .nav-main-element{
        @apply p-9;
    }

    .nav-search {
        @apply w-full flex flex-row justify-between flex-wrap border-t-2 border-gray-100;
    }

    .nav-search-box {
        @apply flex flex-row justify-center relative;
    }

    .nav-search-input {
        @apply py-2 sm:w-80 w-60 bg-gray-200 text-center rounded-r-lg;
    }

    .nav-search-button {
        @apply bg-gray-200 rounded-l-lg pl-2.5;
    }

    .nav-element {
        @apply flex items-center mx-4;
    }

    .nav-text {
        @apply pl-2 dark:text-gray-100 text-black hidden xl:visible xl:block;
    }

    .nav-image {
        @apply h-9;
    }

    .nav-category {
        @apply pb-3 w-full bg-gray-200 justify-around flex-row flex-wrap px-4 items-center dark:bg-gray-800 hidden lg:flex ;
    }

    .category-element {
        @apply flex flex-col items-center pt-3;
    }

    .nav-subcategory {
        @apply absolute mt-6 px-1 py-1 border-2 border-black rounded-lg flex flex-col bg-gray-300 items-center justify-center text-indigo-600;
    }

    .category-button {
        @apply flex flex-row mx-5 items-center;
    }

    .dark-mode-toggle {
        @apply flex justify-end items-center space-x-2 mx-auto relative;
    }

    .sidenav {
        @apply shadow-md bg-gray-50;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}